/*表格复选框*/
.layui-table-cell .layui-form-checkbox[lay-skin="primary"]{
    top: 50%;
    transform: translateY(-50%);
}

/*模态框下拉框被挡*/

body .layer-ext-Select .layui-layer-content {
    overflow: visible;
}

/*设置 layui 表格中单元格内容溢出可见样式*/
/*table-overlay在盒子设置*/
.table-overlay .layui-table-view,
.table-overlay .layui-table-box,
.table-overlay .layui-table-body{overflow: visible;}
.table-overlay .layui-table-cell{height: 50%; overflow: visible;}
.table-overlay dd{text-align: left}