<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.market.mapper.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.market.model.OrderDetail" >
    <constructor >
      <idArg column="UUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GOODSNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRICE" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="NUM" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MONEY" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="ENDTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ENDER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STOREUUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDERSUUID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zking.erp.market.model.OrderDetail" >
    <constructor >
      <idArg column="UUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GOODSNAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRICE" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="NUM" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MONEY" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="ENDTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ENDER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STOREUUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDERSUUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GOODSUUID" jdbcType="VARBINARY" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, GOODSNAME, PRICE, NUM, MONEY, ENDTIME, ENDER, STOREUUID, STATE, ORDERSUUID
  </sql>
  <sql id="Blob_Column_List" >
    GOODSUUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from orderdetail
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
    <select id="orderDetailquery" resultType="com.zking.erp.market.model.OrderDetail"
            parameterType="com.zking.erp.market.model.OrderDetail">
      select
      <include refid="Base_Column_List"/>
      from orderdetail where 1=1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from orderdetail
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.market.model.OrderDetail" >
    insert into orderdetail (UUID, GOODSNAME, PRICE, 
      NUM, MONEY, ENDTIME, 
      ENDER, STOREUUID, STATE, 
      ORDERSUUID, GOODSUUID)
    values (#{uuid,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{num,jdbcType=INTEGER}, #{money,jdbcType=REAL}, #{endtime,jdbcType=TIMESTAMP}, 
      #{ender,jdbcType=VARCHAR}, #{storeuuid,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{ordersuuid,jdbcType=VARCHAR}, #{goodsuuid,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.market.model.OrderDetail" >
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="goodsname != null" >
        GOODSNAME,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="ender != null" >
        ENDER,
      </if>
      <if test="storeuuid != null" >
        STOREUUID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="ordersuuid != null" >
        ORDERSUUID,
      </if>
      <if test="goodsuuid != null" >
        GOODSUUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=REAL},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ender != null" >
        #{ender,jdbcType=VARCHAR},
      </if>
      <if test="storeuuid != null" >
        #{storeuuid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="ordersuuid != null" >
        #{ordersuuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsuuid != null" >
        #{goodsuuid,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <insert id="addOrdersDetail">
    insert into orderdetail(uuid,goodsuuid,goodsname,price,num,money,state,ordersuuid)
    VALUE
    <foreach collection="collection" item="maps" separator=",">
        (#{maps.uuid},#{maps.goodsuuid},#{maps.goodsname},#{maps.price},#{maps.num},#{maps.money},#{maps.state},#{maps.ordersuuid})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.market.model.OrderDetail" >
    update orderdetail
    <set >
      <if test="goodsname != null" >
        GOODSNAME = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=REAL},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=REAL},
      </if>
      <if test="endtime != null" >
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ender != null" >
        ENDER = #{ender,jdbcType=VARCHAR},
      </if>
      <if test="storeuuid != null" >
        STOREUUID = #{storeuuid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="ordersuuid != null" >
        ORDERSUUID = #{ordersuuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsuuid != null" >
        GOODSUUID = #{goodsuuid,jdbcType=VARBINARY},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zking.erp.market.model.OrderDetail" >
    update orderdetail
    set GOODSNAME = #{goodsname,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=REAL},
      NUM = #{num,jdbcType=INTEGER},
      MONEY = #{money,jdbcType=REAL},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      ENDER = #{ender,jdbcType=VARCHAR},
      STOREUUID = #{storeuuid,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      ORDERSUUID = #{ordersuuid,jdbcType=VARCHAR},
      GOODSUUID = #{goodsuuid,jdbcType=VARBINARY}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.market.model.OrderDetail" >
    update orderdetail
    set GOODSNAME = #{goodsname,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=REAL},
      NUM = #{num,jdbcType=INTEGER},
      MONEY = #{money,jdbcType=REAL},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      ENDER = #{ender,jdbcType=VARCHAR},
      STOREUUID = #{storeuuid,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      ORDERSUUID = #{ordersuuid,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>