<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.authority.mapper.EmpRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.authority.model.EmpRole" >
    <constructor >
      <arg column="userid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="roleid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.zking.erp.authority.model.EmpRole" >
    insert into t_emp_role (userid, roleid)
    values (#{userid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.authority.model.EmpRole" >
    insert into t_emp_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateEmpRole" parameterType="com.zking.erp.authority.model.EmpRole">
    update t_emp_role
    SET roleid = #{roleid}
    WHERE userid = #{userid}
  </update>
  <delete id="deleteEmpOrRole" parameterType="com.zking.erp.authority.model.EmpRole">
    delete FROM t_emp_role
    where userid = #{userid}
  </delete>
    <select id="queryEmpRolePager" resultType="map" parameterType="com.zking.erp.authority.Vo.EmpRoleVo">
        SELECT e.`UUID`,e.`USERNAME`,e.`NAME`,e.`GENDER`,e.`EMAIL`,e.`TELE`,e.`ADDRESS`,e.`BIRTHDAY`,d.`NAME` AS dname
        FROM emp e,t_role r,t_emp_role er,dep d
        WHERE e.`UUID`=er.`userid` AND r.`id`=er.`roleid` AND e.`DEPUUID`=d.`UUID`
    </select>
</mapper>