<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.authority.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.authority.model.Role" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rolename" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, rolename, remark
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_role
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <select id="queryRoleLike" resultType="map" parameterType="com.zking.erp.authority.model.Role">
    SELECT * FROM t_role WHERE 1=1
    <if test="null!=rolename and ''!=rolename">
        and rolename LIKE concat(concat('%',#{rolename},'%'))
    </if>
    ORDER BY a ASC
  </select>
  <insert id="insert" parameterType="com.zking.erp.authority.model.Role" >
    insert into t_role (id, rolename
      )
    values (#{id,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.authority.model.Role" >
    update t_role
    set rolename = #{rolename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>