<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.stock.mapper.StoreOperMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.stock.model.StoreOper" >
    <constructor >
      <idArg column="UUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMPUUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STOREUUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="GOODSUUID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NUM" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, EMPUUID, OPERTIME, STOREUUID, GOODSUUID, NUM, TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from storeoper
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <select id="queryRecordsPager" resultType="map" parameterType="com.zking.erp.stock.vo.StoreOperVo">
    SELECT sp.uuid,e.name AS empName,sp.opertime,s.`NAME` AS sname ,g.`NAME` as gname,sd.num,sp.type FROM
    storeoper sp,emp e,goods g, store s,storedetail sd
    WHERE sp.empuuid=e.uuid AND sp.storeuuid=s.`UUID` AND sp.goodsuuid=g.`UUID`
    <if test="null!=emp.name and ''!=emp.name">
      and empName = #{emp.name}
    </if>
    <!--<if test=""></if>-->
    <if test="null!=store.name and ''!=store.name">
      and s.name = #{store.name}
    </if>
    <if test="null!=goods.name and ''!=goods.name">
      and g.name = #{goods.name}
    </if>
    <if test="null!=type and ''!=type">
      and sp.type = #{type}
    </if>
    GROUP BY g.uuid

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from storeoper
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.stock.model.StoreOper" >
    insert into storeoper (UUID, EMPUUID, OPERTIME, 
      STOREUUID, GOODSUUID, NUM, 
      TYPE)
    values (#{uuid,jdbcType=VARCHAR}, #{empuuid,jdbcType=VARCHAR}, #{opertime,jdbcType=TIMESTAMP}, 
      #{storeuuid,jdbcType=VARCHAR}, #{goodsuuid,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.stock.model.StoreOper" >
    insert into storeoper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="empuuid != null" >
        EMPUUID,
      </if>
      <if test="opertime != null" >
        OPERTIME,
      </if>
      <if test="storeuuid != null" >
        STOREUUID,
      </if>
      <if test="goodsuuid != null" >
        GOODSUUID,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="empuuid != null" >
        #{empuuid,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null" >
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeuuid != null" >
        #{storeuuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsuuid != null" >
        #{goodsuuid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.stock.model.StoreOper" >
    update storeoper
    <set >
      <if test="empuuid != null" >
        EMPUUID = #{empuuid,jdbcType=VARCHAR},
      </if>
      <if test="opertime != null" >
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeuuid != null" >
        STOREUUID = #{storeuuid,jdbcType=VARCHAR},
      </if>
      <if test="goodsuuid != null" >
        GOODSUUID = #{goodsuuid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.stock.model.StoreOper" >
    update storeoper
    set EMPUUID = #{empuuid,jdbcType=VARCHAR},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      STOREUUID = #{storeuuid,jdbcType=VARCHAR},
      GOODSUUID = #{goodsuuid,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>